:root {
  --background: #f3f3f3;
  --surface: #ffffff;
  --muted: #f1f1f1;
  --border: #e5e5e5;

  --text: #111111;
  --text-soft: #777777;

  --primary: #000000;
  --primary-foreground: #ffffff;

  --accent: #d9ff43;
  --accent-foreground: #111111;

  --radius-xl: 28px;
  --radius-lg: 22px;
}
